.boxed{
    border: 1px;
    border-radius: 15px;
    border-color: black;
    border-style: double;
    margin: auto;
    width: fit-content;
    padding: 20px;
    margin:10px;
    background-color: white;
}

.default{

    font-size: xx-large;
}

.formTitle{
    font-weight: bold;
}

.create{
    display: flex;
    flex-direction: row;
}

.show{
    display: flex;
    flex-direction: row;
}

.navbarContent {
    padding-top: 3%;
}

.background {
    height: 100vh;
    width: 100vW;
    margin: 0px;
    background-image: url('../../public/Photos/background.jpg');
    background-position: center;
    background-size: cover;
    overflow:hidden;
}

.navlink {
    text-decoration: none;
}

