.basicCard-container {
    position: relative;
    aspect-ratio: 16/15;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    height:50vh;
    overflow: hidden;
    border: 4px;
    border-color: rgb(128, 72, 156);
    border-style:groove;
    border-radius: 10%;
}

.basicCard-blur {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 50%;
    filter: blur(10px);
  }

  .basicCard-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .basicCard-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color:rgb(0, 0, 0);
    border: 5px;
    border-radius: 4px;
    border-style:groove;
    padding: 2px;
    width: 100%;
    text-align: center;
    border-color:rgb(128, 72, 156);
    background-color: rgba(255, 212, 212, 0.8);
  }

  .basicCard-class{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color:rgb(0, 0, 0);
    border: 5px;
    border-radius: 4px;
    border-style:groove;
    padding: 2px;
    width: 100%;
    text-align: center;
    border-color:rgb(128, 72, 156);
    background-color: rgba(255, 212, 212, 0.8);
  }

  .basicCard-race{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color:rgb(0, 0, 0);
    border: 5px;
    border-radius: 4px;
    border-style:groove;
    padding: 2px;
    width: 100%;
    text-align: center;
    border-color:rgb(128, 72, 156);
    background-color: rgba(255, 212, 212, 0.8);
  }